@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@{
    ViewData["Title"] = "SYSTEMCUSCO";
}

<div class="text-center">
    <h1 class="display-4">SYSTEMCUSCO</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if (User.Identity.IsAuthenticated)
{
    <li class="nav-item">
        <a class="nav-link" href="/Checkout/History">Mis pedidos</a>
    </li>
}

@if (User.Identity.IsAuthenticated)
{
    <li class="nav-item">
        <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit();">Cerrar sesión</a>
        <form asp-area="Identity" asp-page="/Account/Logout" method="post" id="logoutForm" class="d-none"></form>
    </li>
}

@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <li class="nav-item">
        <a class="nav-link text-danger" asp-area="Admin" asp-controller="Admin" asp-action="Index">
            Panel Admin
        </a>
    </li>
}
